body {
  padding: 50px;
  font: 14px "Courier New", Helvetica, Arial, sans-serif;
  font-style: italic;
  background-color: grey; 
}

a {
  color: #00B7FF;
}

button {
    border: 0; 
    position: absolute; 
    /*background: transparent;*/ 
}

.textInput {
    color: blue; 
    font: 14px "Courier New", Helvetica, Arial, sans-serif;
}

div.imgContainer {
    background-color: red; 
    height: 500px;
    width: 500px;
    position: relative; 
    margin: 3rem auto 1rem auto;
    display: block; 
    
}

#imgArea img {
    /*max-height:100%; 
    max-width:100%;
    display: block;*/
}

div#imgArea {
    background-color: blue;
    /* image area stuff should go in here */ 
    /*width:400px; /*width of your image*/
    /*height:400px; /*height of your image*/ 
    padding:0; /*if your want to padding */
    margin-left: 50px;
    margin-top: 50px;
    position: relative;
    float: left;

}

textarea {
    resize: none;
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 3rem auto 1rem auto;
    padding: 1rem;
    border: 11px solid white;
    outline: none;
    background-color: transparent;
    overflow: hidden; 


}